.myButton {
    font-size: 13px;
    background-color: #f79123;
    color: white;
    border: none; /* Cambié de '1px none' a 'none' */
    border-radius: 27px;
    padding: 5px 10px;
    letter-spacing: 0;
    padding-bottom: 3px;
    margin-left: 10px;
}
  
.myButton:hover {
    background-color: #ff9933;
    color: white;
} 

.btn-primary:hover {
    background-color: #ff9933;
    border: #ff9933;
}
  
.btn-primary {
    background-color: #f79123;
    border: #f79123;
}