<div style="text-align: center; margin-top: 20px">
  <h2>Crear préstamo</h2>
</div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a
      class="nav-link"
      [class.disabled]="currentStep !== 1"
      [style.color]="currentStep === 1 ? 'orange' : 'inherit'"
      aria-current="page"
    >
      <i class="bi bi-1-circle" style="margin-right: 1px"></i>
      Seleccionar usuario
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.disabled]="currentStep !== 2"
      [style.color]="currentStep === 2 ? 'orange' : 'inherit'"
    >
      <i class="bi bi-2-circle" style="margin-right: 1px"></i>
      Seleccionar productos
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.disabled]="currentStep !== 3"
      [style.color]="currentStep === 3 ? 'orange' : 'inherit'"
    >
      <i class="bi bi-3-circle" style="margin-right: 1px"></i>
      Confirmar
    </a>
  </li>
</ul>

@if (currentStep == 1){

<div class="container mb-4">
  <div class="align-items-center justify-content-between">
    <h5 style="margin-top: 2%; margin-bottom: 1%">
      Seleccione el usuario que desee asociar al préstamo:
    </h5>

    <div class="d-flex justify-content-center">
      <nav
        class="navbar bg-body-tertiary justify-content-center d-inline-block"
        style="border-radius: 10px"
      >
        <ul class="nav justify-content-center mt-2" style="cursor: pointer">
          <li class="nav-item" style="margin-left: 10px; margin-bottom: 3%">
            <a class="nav-link link-dark" (click)="selectUserType('student')"
              >Estudiantes</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark" (click)="selectUserType('teacher')"
              >Profesores</a
            >
          </li>
          <li class="nav-item" style="margin-right: 10px">
            <a class="nav-link link-dark" (click)="selectUserType('assistant')"
              >Asistentes</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
        margin-bottom: 1%;
      "
    >
      <div
        class="custom_input"
        style="
          position: relative;
          width: 40%;
          display: flex;
          align-items: center;
        "
      >
        <input
          type="text"
          [(ngModel)]="searchTermUsers"
          (input)="onSearch()"
          placeholder="Buscar..."
          class="input"
          style="padding-left: 40px; width: 100%"
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="svg_icon bi-search"
          viewBox="0 0 16 16"
          style="
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
          "
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="list-group container-xl" style="margin-top: 10px">
  @if (selectedUserType == "student") { @for (student of filteredStudents |
  slice: (pageStudents-1) * pageSize : pageStudents * pageSize; track $index) {
  <div
    class="list-group-item list-group-item-action custom-active-border"
    [ngClass]="{ active: selectedUser === student }"
    [style.backgroundColor]="selectedUser === student ? 'orange' : 'inherit'"
    (click)="selectUser(student)"
  >
    <div class="d-flex justify-content-between" style="cursor: pointer">
      <div>
        <strong>{{ student.name }}</strong>
        <p>
          <b>Rut:</b> {{ student.rut }} - <b>Carrera: </b
          >{{ getDegree(student.student.codeDegree) }}
        </p>
      </div>
    </div>
  </div>
  }
  <div class="d-flex justify-content-center mt-3">
    <ngb-pagination
      [(page)]="pageStudents"
      [pageSize]="pageSize"
      [collectionSize]="filteredStudents.length"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
    >
    </ngb-pagination>
  </div>
  } @if (selectedUserType == "teacher") { @for (teacher of filteredTeachers |
  slice: (pageTeachers - 1) * pageSize : pageTeachers * pageSize; track $index)
  {
  <div
    class="list-group-item list-group-item-action"
    [class.active]="selectedUser === teacher"
    [style.backgroundColor]="selectedUser === teacher ? 'orange' : 'inherit'"
    (click)="selectUser(teacher)"
  >
    <div class="d-flex justify-content-between" style="cursor: pointer">
      <div>
        <strong>{{ teacher.name }}</strong>
        <p><b>Rut:</b> {{ teacher.rut }}</p>
      </div>
    </div>
  </div>
  }
  <div class="d-flex justify-content-center mt-3">
    <ngb-pagination
      [(page)]="pageTeachers"
      [pageSize]="pageSize"
      [collectionSize]="filteredTeachers.length"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
    >
    </ngb-pagination>
  </div>
  } @if (selectedUserType == "assistant") { @for (assistant of
  filteredAssistants | slice: (pageAssistants - 1) * pageSize : pageAssistants *
  pageSize; track $index) {
  <div
    class="list-group-item list-group-item-action"
    [class.active]="selectedUser === assistant"
    [style.backgroundColor]="selectedUser === assistant ? 'orange' : 'inherit'"
    (click)="selectUser(assistant)"
  >
    <div class="d-flex justify-content-between" style="cursor: pointer">
      <div>
        <strong>{{ assistant.name }}</strong>
        <p>
          <b>Rut:</b> {{ assistant.rut }} - <b>Cargo:</b>
          {{ assistant.assistant.role }}
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <ngb-pagination
      [(page)]="pageAssistants"
      [pageSize]="pageSize"
      [collectionSize]="filteredAssistants.length"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
    >
    </ngb-pagination>
  </div>
  }}
</div>

<div
  class="d-flex justify-content-center"
  style="margin-top: 20px; margin-bottom: 40px"
>
  <button
    routerLink="/lending"
    (click)="cancel()"
    class="btn btn-secondary"
    style="margin-right: 20px"
  >
    Cancelar
  </button>
  <button [disabled]="!selectedUser" (click)="stepUp()" class="btn btn-primary">
    Confirmar selección
  </button>
</div>

} @if (currentStep == 2){

<div class="container mb-4">
  <div class="align-items-center justify-content-between">
    <button (click)="stepDown()" class="btn btn-primary">
      <i class="bi bi-arrow-left"></i>
    </button>

    <div class="container">
      <div class="accordion" id="accordionExample">
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
          "
        >
          <div
            class="custom_input"
            style="
              position: relative;
              width: 40%;
              display: flex;
              align-items: center;
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="svg_icon"
              viewBox="0 0 16 16"
              style="position: absolute; left: 18px; width: 16px; height: 16px"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              ></path>
            </svg>
            <input
              style="width: 100%; padding-left: 30px"
              [(ngModel)]="searchTermProducts"
              placeholder="Buscar..."
              class="input"
            />
          </div>
        </div>

        <div class="container">
          <div>
            <table class="table table-striped table-bordered">
              <thead class="table-light">
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Stock</th>
                  <th scope="col" style="width: 150px">Cantidad</th>
                </tr>
              </thead>
              <tbody>
                @for (product of filteredList() | slice: (pageProducts-1) *
                pageSize : pageProducts * pageSize; track product; let i =
                $index) {
                <tr>

                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.stock }}</td>
                    <td style="width: 150px">
                      <div class="d-flex align-items-center">
                        <button
                          class="btn btn-outline-secondary rounded-circle"
                          (click)="decrementQuantity(product.id)"
                          [disabled]="getQuantity(product.id) === 0"
                        >
                          -
                        </button>

                        <input
                          class="form-control mx-1 text-center"
                          type="number"
                          [value]="getQuantity(product.id)"
                          (input)="
                            onQuantityInput($event, product.id, product.stock)
                          "
                          min="0"
                          [max]="product.stock"
                        />

                        <button
                          class="btn btn-outline-secondary rounded-circle"
                          (click)="incrementQuantity(product.id, product.stock)"
                          [disabled]="product.stock === 0"
                        >
                          +
                        </button>
                      </div>
                    </td>


                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>

        <div
          class="d-flex justify-content-center"
          style="margin-top: 20px; margin-bottom: 20px"
        >
          <ngb-pagination
            [collectionSize]="products.length"
            [(page)]="pageProducts"
            [pageSize]="pageSize"
            [maxSize]="5"
            [rotate]="true"
            [ellipses]="false"
            [boundaryLinks]="true"
          />
        </div>
      </div>
    </div>

    <div
      class="d-flex justify-content-center"
      style="margin-top: 20px; margin-bottom: 40px"
    >
      <button
        routerLink="/lending"
        (click)="cancel()"
        class="btn btn-secondary"
        style="margin-right: 20px"
      >
        Cancelar
      </button>
      @if (hasSelectedProduct()){
      <button (click)="stepUp()" class="btn btn-primary">
        Confirmar selección
      </button>
      } @else {
      <button disabled (click)="stepUp()" class="btn btn-primary">
        Confirmar selección
      </button>
      }
    </div>
  </div>
</div>

} @if (currentStep == 3) {

<div>
  <button (click)="stepDown()" class="btn btn-primary" style="margin-left: 8%">
    <i class="bi bi-arrow-left"></i>
  </button>
</div>

@if (this.selectedUser?.type == 'Student') {
<div style="padding-bottom: 1%; padding-top: 1%; margin-left: 8%">
  <h5 style="margin-bottom: 1%; margin-top: 1.5%">
    Seleccione el profesor que desee asociar al préstamo:
  </h5>
  <div class="d-flex">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{
        selectedTeacher?.name ? selectedTeacher?.name : "Seleccione un profesor"
      }}
    </button>
    <ul class="dropdown-menu">
      @for (teacher of filteredTeachers; track teacher) {
      <li>
        <a
          class="dropdown-item"
          (click)="selectTeacher(teacher)"
          style="cursor: pointer"
        >
          {{ teacher.name }}
        </a>
      </li>
      }
    </ul>
  </div>
</div>
}

<div class="form-group mt-3" style="margin-left: 8%">
  <label for="comments" style="margin-bottom: 1%">Comentarios:</label>
  <textarea
    id="comments"
    class="form-control"
    style="width: 90%"
    [(ngModel)]="comments"
    rows="3"
    placeholder="Escribe tus comentarios aquí..."
  ></textarea>
</div>

<div
  class="d-flex justify-content-center"
  style="margin-top: 20px; margin-bottom: 40px"
>
  <button
    routerLink="/lending"
    (click)="cancel()"
    class="btn btn-secondary"
    style="margin-right: 20px"
  >
    Cancelar
  </button>
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#modalConfirmation"
  >
    Confirmar selección
  </button>
</div>

<div
  class="modal fade"
  id="modalConfirmation"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
          Confirmar datos del préstamo
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          ¿Está seguro que desea registrar el préstamo para el siguiente
          usuario?
        </p>
        <ul>
          <li>
            <strong>Nombre del Prestatario:</strong> {{ selectedUser?.name }}
          </li>
          <li *ngIf="selectedTeacher">
            <strong>Profesor Asignado:</strong> {{ selectedTeacher.name }}
          </li>
          <li *ngIf="comments"><strong>Comentarios:</strong> {{ comments }}</li>
        </ul>

        <p>Productos seleccionados:</p>
        <ul>
          <li *ngFor="let item of contains">
            <strong>{{ getProductById(item.productId)?.name }}</strong> -
            Cantidad: {{ item.amount }}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          (click)="endAddLending()"
          routerLink="/lendings/active"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

}
