.titulo {
  text-align: center;
  color: #333;
  font-size: 45px;
  margin-top: 20px;
}

.custom_input {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  padding-left: 9px;
}

.input {
  font-size: 18px;
  padding: 5px 10px;
  width: 10%;
  padding-left: 35px;
  outline: none;
  background: #ffffff;
  color: #000000;
  border: 1px solid #666666;
  border-radius: 40px;
  box-shadow: 3px 3px 2px 0px #e2e2e2;
  transition: 0.3s ease;
}

.input:focus {
  background: #f2f2f2;
  border: 1px solid #f79123;
  border-radius: 40px;
}

.input::placeholder {
  color: #dddddd;
}

.svg_icon {
  position: absolute;
  left: 4%;
  fill: #f79123;
  width: 18px;
  height: 18px;
}

/* Contenedor del contador */
.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espaciado entre elementos */
}

/* Botones redondos */
.btn-outline-orange {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Hace que los botones sean circulares */
  border: 2px solid #F79123; /* Borde naranja */
  color: #F79123; /* Texto naranja */
  font-size: 1.2rem; /* Tamaño de la fuente */
  font-weight: bold;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

/* Efecto hover para los botones */
.btn-outline-orange:hover {
  background-color: #F79123; /* Fondo naranja */
  color: white; /* Texto blanco */
  cursor: pointer;
}

/* Efecto active al hacer clic */
.btn-outline-orange:active {
  background-color: #F57C00; /* Fondo naranja más oscuro */
  border-color: #E65100; /* Borde más oscuro */
}


